FourthExampleProject/packages/
FourthExampleProject/DataLayer.Interfaces/obj/
FourthExampleProject/DataLayer/obj/Debug/
FourthExampleProject/Models/obj/Debug/
FourthExampleProject/ServiceLayer/obj/
FourthExampleProject/TestingProject/obj/Debug/
FourthExampleProject/WebAPI/obj/Debug/
FourthExampleProject/TestingProject/bin/Debug/
FourthExampleProject/ServiceLayer.Interfaces/obj/
FourthExampleProject/Bootstrapper/obj/Debug/
FourthExampleProject/Courses.Web/bin/
FourthExampleProject/WebAPI/bin/
FourthExampleProject/Models/bin/
FourthExampleProject/Courses.Web/obj/Debug/
FourthExampleProject/Bootstrapper/bin/Debug/
FourthExampleProject/DataLayer/bin/Debug/
FourthExampleProject/ServiceLayer.Interfaces/bin/Debug/
FourthExampleProject/ServiceLayer/bin/Debug/
FourthExampleProject/DataLayer.Interfaces/bin/Debug/
FourthExampleProject/Bootstrapper.Tests/bin/Debug/
FourthExampleProject/Bootstrapper.Tests/obj/
