body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

.align-center {
    text-align: center;
}

.customer-details-left {
    color: black;
    width: 50%;
    float: left;
    font-weight: bold;
}

.customer-details-right {
    color: black;
    width: 50%;
    float: right;
    font-weight: bold;
}