@{
    ViewBag.Title = "CustomersGrid";
}

@Styles.Render("~/Content/mvc-grid-css")

@Scripts.Render("~/bundles/mvcGrid")

<div id="customers-grid-container">

    <h2 class="align-center">CustomersGrid</h2>

    @Html.AjaxGrid(Url.Action("GetCustomersGrid", new { param = "value" }))

</div>

<script>
    $('.mvc-grid').mvcgrid();
</script>