@{
    ViewBag.Title = "Error";
}

<div id="error-container" class="align-center">
    <h3>An error occurred while processing your request.</h3>
    @Html.ActionLink("Home Page", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>