@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron align-center ">
    <h2>Customers Project</h2>
    <p>
        @Html.ActionLink("Click here to view Customers Grid", "CustomersGrid", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <a href="https://github.com/benadaephondelat/Fourth" target="_blank" class="btn btn-link">
        Visit Github repository &raquo;
    </a>
</div>